<div class="paddingFromMenu maxWidth"  style="background-image: url('../img/3.png');height: 250px ;background-size:cover;"> 
    
    <div class="container">
        <div class="row margin-bottom-10">
            <div class="col-md-4 col-sm-12 pull-right">
                <!-- <div class="servive-block servive-block-grey">         
                        <i class="icon-2x color-light fa fa-gift"></i>-->
                <!-- <div class="servive-block servive-block-yellow">       
                        <i class="icon-2x color-light fa fa-envelope"></i>-->
                <div class="servive-block servive-block-purple">       
                        <i class="icon-2x color-light fa fa-folder-open"></i>
                <!-- <div class="servive-block rounded servive-block-aqua"> 
                        <i class="icon-2x color-light fa fa-taxi"></i>-->
                <!-- <div class="servive-block servive-block-dark-blue">            
                    <i class="icon-2x color-light fa fa-gift"></i> -->
                    <h2 class="heading-md">Skjemaer</h2>
                    <p>Privat</p>
                </div>
            </div>
        </div>
    </div>
    
</div>    
