<div class="featured_content" id="ansatte">
  <div class="container">
      <div class="row text-center feature_grid1 feature_grid2">
        <img src="../../img/seko.jpg" >
      </div>
      
    <div class="row text-center">
        
        <div class="col-xs-12 col-sm-4 col-md-3 feature_grid2"> 
            <img src="../img/Ansatte/Knut.jpg" class="img-circle">
            <h3><a href="#">Knut-Helge Sæther</a></h3>
            <h5> <strong>Daglig leder</strong></h5>
            <h5>Serviceoppdrag næring/privat, enebolig</h5>
        </div>    
        <div class="col-xs-12 col-sm-4 col-md-3 feature_grid2"> 
            <img src="../img/Ansatte/Kjell.jpg" class="img-circle">
            <h3><a href="#">Kjell Olsen</a></h3>
            <h5><strong>Serviceleder</strong></h5>       
            <h5>Daglig ledelse, tilbud/anbud, prosjekter</h5>            
        </div>    
        <div class="col-xs-12 col-sm-4 col-md-3 feature_grid2"> 
           <img src="../img/Ansatte/person.png" class="img-circle">
            <h3><a href="#">Sigmund Lindvik</a></h3>
            <h5> <strong>Prosjektleder</strong></h5>
            <h5>Installatør, Prosjektledelse, HMS/IK-systemer</h5>     
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 feature_grid2"> 
           <img src="../img/Ansatte/person.png" class="img-circle">
            <h3><a href="#">Thomas Grotli</a></h3>
            <h5><strong>Prosjektleder</strong></h5>
            <h5>Prosjektledelse</h5>     
        </div>
        
    </div>
    <div class="row text-center">  
        
        <div class="col-xs-12 col-sm-4 col-md-3 feature_grid2"> 
           <img src="../img/Ansatte/person.png" class="img-circle">
            <h3><a href="#">Frode Dalen</a></h3>
            <h5><strong>Serviceavtaler, IK-kunde</strong></h5>
            <h5>Servicekoordinering, El-kontroll, termografering</h5>     
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 feature_grid2"> 
            <img src="../img/Ansatte/person.png" class="img-circle">
            <h3><a href="#">Solveig Sæther</a></h3>
            <h5><strong>Kontormedarbeider</strong></h5>
            <h5>Sentralbord, sekretær</h5>     
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 feature_grid2"> 
            <img src="../img/Ansatte/person.png" class="img-circle">
            <h3><a href="#">Gerd Bjørnstad</a></h3>
            <h5><strong>Regnskap</strong></h5>
            <h5>Regnskap, sentralbord</h5>     
        </div>       
    </div>
  </div>
</div>  


<!--
<table class="table table striped">
    <caption>Kontor</caption>
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Navn</th>
            <th>Stilling</th>
            <th>Arbeidsområde</th>
            <th>Telefon</th>
        </tr>
    </thead>
    <tbody id="ansattabell">
        <tr>
            <td><img src="../img/Ansatte/Knut.jpg" class="img-circle"></td>
            <td>Knut-Helge Sæther<br/>knut@seko.no</td>
            <td>Daglig leder</td>
            <td>Daglig ledelse, tilbud/anbud, prosjekter</td>
            <td>63879600<br/>40407400</td>
        </tr>    
        <tr>
            <td><img src="../img/Ansatte/Kjell.jpg" class="img-circle"></td>
            <td>Kjell Olsen<br/>knjell@seko.no</td>
            <td>Serviceleder</td>
            <td>Serviceoppdrag næring/privat, enebolig</td>
            <td>63879600<br/>40407401</td>
        </tr>    
        <tr>
            <td><span class="glyphicon glyphicon-user doubleFont" class="img-circle"></span></td>
            <td>Sigmund Lindvik<br/>sigmund@seko.no</td>
            <td>Prosjektleder</td>
            <td>Installatør, Prosjektledelse, HMS/IK-system,r</td>
            <td>63879600<br/>40407420</td>
        </tr>    
    </tbody>
</table>

-->

