<table class="table table striped">
    <caption>Kontor</caption>
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Navn</th>
            <th>Stilling</th>
            <th>Arbeidsområde</th>
            <th>Telefon</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="../img/Ansatte/Knut.jpg"></td>
            <td>Knut-Helge Sæther<br/>knut@seko.no</td>
            <td>Daglig leder</td>
            <td>Daglig ledelse, tilbud/anbud, prosjekter</td>
            <td>63879600<br/>40407400</td>
        </tr>    
        <tr>
            <td><img src="../img/Ansatte/Kjell.jpg"></td>
            <td>Kjell Olsen<br/>knjell@seko.no</td>
            <td>Serviceleder</td>
            <td>Serviceoppdrag næring/privat, enebolig</td>
            <td>63879600<br/>40407401</td>
        </tr>    
        <tr>
            <td><span class="glyphicon glyphicon-user doubleFont"></span></td>
            <td>Sigmund Lindvik<br/>sigmund@seko.no</td>
            <td>Prosjektleder</td>
            <td>Installatør, Prosjektledelse, HMS/IK-system,r</td>
            <td>63879600<br/>40407420</td>
        </tr>    
    </tbody>

</table>