<!-- Carousel
================================================== -->
    
<div id="sekoCarousel" class="carousel slide" data-ride="carousel"  data-interval="3000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#sekoCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#sekoCarousel" data-slide-to="1"></li>
    <li data-target="#sekoCarousel" data-slide-to="2"></li>
    <li data-target="#sekoCarousel" data-slide-to="3"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
        <div id="0" class="item active">
          <img src="../img/62135.png" alt="Slide1" class="img-responsive"> <!-- http://placehold.it/1200x315 -->
          <div class="carousel-caption">
              <h3>Tienbråten Barnehage</h3>
              <h5>
    Vi er igang med Tienbråten Barnehage i Fet. Barnehagen er på ca 1800m2 og utføres etter passivhusstandarden. Arbeidene utføres som en totalunderentreprise for SEBY AS og ferdigstilles høsten 2015.</h5>
          </div>
        </div>
        <div id="1" class="item">
          <img src="../img/61936.jpg" alt="Slide2">
          <div class="carousel-caption">
              <h3>Caption Text2</h3>
          </div>
        </div>
        <div id="2" class="item">
          <img src="../img/56355.jpg" alt="Slide3">
          <div class="carousel-caption">
              <h3>Caption Text3</h3>
          </div>
        </div>
        <div id="3" class="item">
            <img src="../img/61933.png" alt="Slide1"> <!-- http://placehold.it/1200x315 -->
                <div class="carousel-caption">
                    <h3>Jessheim Videregående Skole</h3>
                    <h5>Vi er med på elektroentreprisen ved Jessheim Videregående Skole. Skolen er på ca 25.000m2. Arbeidene utføres for Veidekke AS/Seby AS og skal stå ferdig til skolestart 2017.
                        </h5>


                </div>
        </div>
      
 
      <!-- Controls -->
      <!--<a class="carousel-control left" href="#carousel-example-generic" role="button" data-slide="prev">-->
      <!--<a class="carousel-control right" href="#carousel-example-generic" role="button" data-slide="next">-->

        <span class="left carousel-control" href="#sekoCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </span>

        <span class="right carousel-control" href="#sekoCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </span>
  
    </div> <!-- Carousel --><!-- /.carousel -->


    <div class="panel panel-default">
    <div id="elproffen" class="panel-heading">
        <h1 class="panel-title">Tips og Råd</h1>
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            <img src="img/Elproffen.gif" class="img-responsive left-block" />
            <p>
                <ul>
                    <li>Strømsparing - enkelt og lønnsomst</li>
                    <li>Styringssystem sparer deg for penger</li>
                    <li>Alt om lysstyring og varmestyring</li>
                    <li>Lys skaper stemning</li>
                    <li>Gulvvarme til boligen</li>
                    <li>Panelovner er miljøvennlig oppvarming</li>
                    <li>Utebelysning: Stil, stemning og sikkerhet</li>
                    <li>Plassering av downlights </li>
                    <li>Internkontroll elektro</li>
                    <li>Dette kan du gjøre selv på ditt elektriske anlegg</li>
                    <li>Dette må du vite om stikkontakten</li>
                </ul>
            </p>
        </div>
            <div id="elproffenBilde" class="col-md-6 hidden-sm hidden-xs">
                <img src="http://lh3.googleusercontent.com/-wBxU5nhvrh4/UPQLAGH_TvI/AAAAAAAAAQc/PrvddryGPtg/s1903/jupiter%252520exclusive.jpg"/>
            </div>
        </div>        
    </div>
</div>
<div class="new-caption-area"></div>