<div id="footer">
  <div class="container" >
    <div class="row">                              
        <div class="col-md-12">                
            <a href="https://www.facebook.com/SekoElektro?fref=ts" class="socials"><i class="fa fa-facebook"></i></a>
            <a href="http://www.seko.no/#.VWxhYhhy0SA.twitter" class="socials"><i class="fa fa-twitter"></i></a>
        </div>            
    </div>
<!--    <p>Seko Elektro AS 
        <a href="#" class="socials"><i class=" fa fa-facebook-official"></i></a>
        <a href="#" class="socials"><i class="fa fa-twitter-square"></i></a>
      </p>          
-->

  </div>
</div>