<div class="paddingFromMenu maxWidth" style="background-image: url('../img/notes.png');height: 250px ;background-size:cover;">
    <div class="container">
        <div class="row margin-bottom-10">
            <div class="col-md-4 col-sm-12 pull-right">
                <!-- <div class="servive-block servive-block-grey">         
                        <i class="icon-2x color-light fa fa-gift"></i> -->
                <div class="servive-block servive-block-yellow">       
                        <i class="icon-2x color-light fa fa-plug"></i>
                <!-- <div class="servive-block servive-block-purple">       
                        <i class="icon-2x color-light fa fa-gift"></i>-->
                <!-- <div class="servive-block rounded servive-block-aqua"> 
                        <i class="icon-2x color-light fa fa-taxi"></i> -->
                <!-- <div class="servive-block servive-block-dark-blue">            
                    <i class="icon-2x color-light fa fa-gift"></i> -->
                    <h2 class="heading-md">Kontakt oss</h2>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>     

<div class="container">
    <div class="row">
        <div style="padding: 20px 40px 20px 40px">
            <div class="col-md-8 pull-right">
                <h1>Besøksadresse: </h1>
                
                 <div>SEKO Elektro AS</div>
                 <div>Industriveien 9B</div>
                 <div>Postboks 227</div>
                 <p>2021 Skedsmokorset</p>
                
                 <p>Telefon:63 87 96 00</p>
                <p>Faks:63 87 44 44</p>
                <p>E-post:kontakt@seko.no</p>
            </div>
            <div class="col-md-4 pull-left">
               BILDE HER
            </div>
        </div>
    </div>
</div>
            <!--
  <div class="container">
            <div class="row margin-bottom-10">
                <div class="col-md-4 col-sm-12 pull-right">
              
                    <div class="servive-block servive-block-yellow">       
                            <i class="icon-2x color-light fa fa-users"></i>
                  
                        <h2 class="heading-md">Kontakt oss</h2>
                        <p>Ta kontakt om du trenger en fagmann!</p>
                    </div>
                </div>
            </div>
        </div>
            -->
            
            
            <!--
            <div class="col-md-4 col-sm-6 pull-right">
                <div class="servive-block servive-block-grey">
                    <i class="icon-2x color-light fa fa-bell-o"></i>
                    <h2 class="heading-md">Om Seko</h2>
                    <p>Her kommer det info om Seko.....</p>                        
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="servive-block servive-block-yellow">
                    <i class="icon-2x color-light fa fa-envelope"></i>
                    <h2 class="heading-md">Yellow Box</h2>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="servive-block servive-block-dark-blue">            
                    <i class="icon-2x color-light fa fa-gift"></i>
                    <h2 class="heading-md">Dark Blue Box</h2>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                </div>
            </div>
        </div>


        <div class="row margin-bottom-10">
            <div class="col-sm-6">
                <div class="servive-block servive-block-purple">
                    <i class="icon-2x color-light fa fa-globe"></i>
                    <h2 class="heading-md">Purple Box</h2>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus. At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="servive-block rounded servive-block-aqua">
                    <i class="icon-2x color-light fa fa-taxi"></i>
                    <h2 class="heading-md">Aqua Box</h2>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus. At vero eos et accusamus et iusto odio dignissimos ducimus qui.</p>
                </div>
            </div>
        </div>
-->


<!--

<div style="background-image: url('../img/1.png');height: 300px ;background-size:cover;">
    <div style="height:300px;align:bottom;padding-top:215px;">
        <div class="caption-textbanner-black">            
            <h5>Ansatte i Seko Elektro AS</h5>
        </div>
    </div>
</div>

<div ng-controller="AnsatteController" style="margin-top:45px;">
    <div class="container">
  
        <div class="row">
            <div class="panel panel-primary filterable">
                <div class="panel-heading">
                    <h3 class="panel-title">Ansatte Seko</h3>                    
                </div>
                 <div class="input-group stylish-input-group" style="padding: 5px 5px 5px 5px">
                    <span class="input-group-addon">Filter</span>
                    <input type="text" class="form-control"  placeholder="Search" ng-model="query">
                </div> 
               
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Bilde</th>
                                <th>Navn</th>
                                <th>Avdeling</th>
                                <th>Stilling</th>
                                <th>Mail</th>
                                <th>Telefon</th>
                                <th>Rolle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ansatt in ansatte | orderObjectBy:'id':false | filter:query">      
                                <td style="display:table-cell; vertical-align:middle; text-align:center">
                                    <div ng-show="ansatt.bilde.length > 1">
                                        <img src="../img/Ansatte/{{ansatt.bilde}} " />
                                    </div>
                                    <div ng-show="ansatt.bilde.length < 1">
                                        <span class="glyphicon glyphicon glyphicon-user" style="font-size:4em;padding-top:10px;"></span>
                                    </div>
                                </td>       
                                <td>{{ansatt.fornavn}} {{ansatt.etternavn}}</td>
                                <td>{{ansatt.avdeling}}</td>
                                <td>{{ansatt.stilling}}</td>
                                <td>{{ansatt.mail}}</td>
                                <td>{{ansatt.telefon}}</td>
                                <td>{{ansatt.rolle}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
             
        </div>
    </div>
</div>    

-->