<div class="paddingFromMenu maxWidth" style="background-image: url('../img/3.png');height: 250px ;background-size:cover;">
    <div class="container">
        <div class="row margin-bottom-10">
            <div class="col-md-4 col-sm-12 pull-right">
                <!-- <div class="servive-block servive-block-grey">         
                        <i class="icon-2x color-light fa fa-gift"></i> -->
                <div class="servive-block servive-block-yellow">       
                        <i class="icon-2x color-light fa fa-info"></i>
                <!-- <div class="servive-block servive-block-purple">       
                        <i class="icon-2x color-light fa fa-gift"></i>-->
                <!-- <div class="servive-block rounded servive-block-aqua"> 
                        <i class="icon-2x color-light fa fa-taxi"></i> -->
                <!-- <div class="servive-block servive-block-dark-blue">            
                    <i class="icon-2x color-light fa fa-gift"></i> -->
                    <h2 class="heading-md">Om Seko</h2>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div style="padding: 20px 40px 20px 40px">
            <div class="col-md-8 pull-right">
                <h2>Seko Elektro AS: </h2>
                <p>SEKO Elektro AS</p> 
                <p>    
                    Etablert i 1992 og holder i dag til i egene lokaler på Skedsmokorset.
                </p>
                <p>
                    Vi har i dag 33 ansatte og omsetningen er ca 40 mill. kroner.
                    Vi er en erfaren elektroentreprenør som setter kvalitet og el-sikkerhet i fremste rekke.
                </p>
                <p>
                    Kontinuerlig oppgradering av montører og prosjektledere gir deg som kunde trygghet
                    for at våre leveranser holder et faglig høyt nivå.
                    Vi har bred erfaring , flere av våre medarbeidere har mer enn 30 års bakgrunn fra elektrobransjen.
                </p>
            </div>
            <div class="col-md-4 pull-left">
               BILDE HER
            </div>
        </div>
    </div>
</div>



<!-- TODO:

Sjekke bokser her
http://bootdey.com/snippets/view/box-colored

-->