#note{
    background-size: cover;  
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 0;  
    height: 200%;
    font-family:arial,sans-serif;
    font-size:100%;
    margin:3em;    
    color:#fff;
}

#note li {
 padding:3px;
margin:0;
}
  

#note h2 p{
  font-size:100%;
  font-weight:normal;
  margin:0;
    padding: 0;
}

#note ul li{
margin:0;
    padding: 0;
  list-style:none;
}

#note ul{    
  height:100%;
    margin:0;
    padding:0;
}

#note ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
    margin:0;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}

#note ul li{
  margin:1em;
    padding:0;
}

#note ul li h2{  
  margin:0;
  font-size:140%;
  font-weight:bold;
  padding-bottom:3px;
    text-align: center;
}

#note ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}

#note ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  position:relative;
  top:5px;
  background:#cfc;
}

#note ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  position:relative;
  top:-5px;
  background:#ccf;
}

#note ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}

#note ul li a:hover,#note ul li a:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}